$primary:        #AA15B6;
$secondary:     #C7C5C7;
//$success:       $green !default;
$info:          #4977C5;
//$warning:       $yellow !default;
$danger:        #ff1862;
$light:         #FFFFFF;
$dark:          black;

$containerMaxWidth: 2000px;
