.index4th {
  min-height: 40vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;

  .index4th__description {
    padding: 0 0 5rem 0;
    h4 {
      font-style: normal;
      text-decoration: none;
      margin:0.75rem 0 3rem 0;
    }

    p {
      line-height: 1.75rem;
    }
  }

  .index4th_itemsRow {
    width: 100%;
  }

  .index4th__column{
    text-align: left;
    padding: 3rem 1.5rem ;
    background: #AA15B6;
    color: white;

    h5 {
      font-style: normal;
      text-decoration: none;
      margin:0.5rem 0;
    }
    p{
      padding-top: 1rem;
    }

    .index4th__columnDetails {
      padding-top: 2rem;
      p{
        font-size: 0.8rem;
        padding: 0;
      }
    }
  }
}
